.managers {
  padding: 30px 15px;
}
.managers h1 {
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
.managers h2 {
  text-align: center;
  color: #828282;
  font-weight: 700;
  font-size: 18px;
  margin: 20px 0 40px 0;
}
.managers .row > div {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 0;
  margin-bottom: 15px;
}
.managers .row > div .img {
  flex-shrink: 0;
  height: 100px;
  width: 100px;
}
.managers .row > div .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.managers .row > div .desc {
  margin-left: 15px;
}
.managers .row > div .desc p {
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}
.managers .row > div .desc p.email {
  font-weight: 400;
}
.managers .row > div .desc p.tel {
  display: flex;
  height: 25px;
  align-items: center;
  background: #f7d917;
  padding-right: 20px;
  padding-left: 5px;
  position: relative;
  overflow: hidden;
  margin: 5px 0;
}
.managers .row > div .desc p.tel::after {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  right: -10px;
  background: white;
  transform: rotate(45deg);
}
.managers .row > div .desc p.tel a {
  display: flex;
}
.managers .row > div .desc p.tel a img {
  margin-left: 5px;
}
.managers .row > div .desc span {
  font-size: 12px;
  color: #828282;
}
.managers .row {
  margin-bottom: 40px;
}
@media (max-width: 1500px) {
  .managers .row .card .img {
    height: 260px;
  }
}
@media (max-width: 1200px) {
  .managers .row .card .img {
    height: 210px;
  }
}
@media (max-width: 576px) {
  .managers .row > div {
    justify-content: center;
  }
  .managers .row > div .desc {
    flex-grow: 1;
  }
  .managers .row .card .img {
    height: 180px;
  }
  .managers h1 {
    font-size: 20px;
  }
}
